
*.user
*.filters
*.vcxproj
*.sln
*.pdb
*.idb
*.txt
*.obj
*.ilk
*.recipe
*.lastbuildstate
*.tlog
*.ipch
*.db
Day2Queue/PriorityQueue/PriorityLinearQueueAdt/.vs/PriorityLinearQueueAdt/v16/.suo
*.log
Day2Queue/LinearQueue/LinearQueueADT/.vs/LinearQueueADT/v16/.suo
*.json
*.sqlite
Day2Queue/LinearQueue/.vs/LinearQueue/v16/.suo
Day2Queue/LinearQueue/Lib/LineearQueue/.vs/LineearQueue/v16/.suo
Day2Queue/CircularQueue/CircularQueueAdt/.vs/CircularQueueAdt/v16/.suo
Day1Stack/StackAssignment5Postfix/.vs/StackAssignment5Prefix/v16/.suo
Day1Stack/StackAssignment4InfixToPreFix/.vs/StackAssignment4InfixToPreFix/v16/.suo
Day1Stack/StackAssignment4/.vs/StackAssignment4/v16/.suo
Day1Stack/.vs/Day1Stack/v16/.suo
.vs/DataStructure/v16/.suo
*.config
Day1Stack/StackAssignment1/.vs/StackAssignment1/v16/.suo
*.db-shm
*.db-wal
*.opendb
Day3LinearLinkedList&applications/LinearLinlkedList/.vs/LinearLinlkedList/v16/.suo
Day3LinearLinkedList&applications/LinkedListMerg/.vs/LinkedListMerg/v16/.suo
Day3LinearLinkedList&applications/StackUsingLinkedList/.vs/StackUsingLinkedList/v16/.suo
Day3LinearLinkedList&applications/QueueUsingLinkedList/.vs/QueueUsingLinkedList/v16/.suo
