
*.user
*.filters
*.vcxproj
*.sln
*.pdb
*.idb
*.txt
*.obj
*.ilk
*.recipe
*.lastbuildstate
*.tlog
*.ipch
*.db
Day2Queue/PriorityQueue/PriorityLinearQueueAdt/.vs/PriorityLinearQueueAdt/v16/.suo
*.log
Day2Queue/LinearQueue/LinearQueueADT/.vs/LinearQueueADT/v16/.suo
*.json
*.sqlite
Day2Queue/LinearQueue/.vs/LinearQueue/v16/.suo
Day2Queue/LinearQueue/Lib/LineearQueue/.vs/LineearQueue/v16/.suo
Day2Queue/CircularQueue/CircularQueueAdt/.vs/CircularQueueAdt/v16/.suo
Day1Stack/StackAssignment5Postfix/.vs/StackAssignment5Prefix/v16/.suo
Day1Stack/StackAssignment4InfixToPreFix/.vs/StackAssignment4InfixToPreFix/v16/.suo
Day1Stack/StackAssignment4/.vs/StackAssignment4/v16/.suo
Day1Stack/.vs/Day1Stack/v16/.suo
.vs/DataStructure/v16/.suo
*.config
Day1Stack/StackAssignment1/.vs/StackAssignment1/v16/.suo
*.db-shm
*.db-wal
*.opendb
Day3LinearLinkedList&applications/LinearLinlkedList/.vs/LinearLinlkedList/v16/.suo
Day3LinearLinkedList&applications/LinkedListMerg/.vs/LinkedListMerg/v16/.suo
Day3LinearLinkedList&applications/StackUsingLinkedList/.vs/StackUsingLinkedList/v16/.suo
Day3LinearLinkedList&applications/QueueUsingLinkedList/.vs/QueueUsingLinkedList/v16/.suo
Day4Circular&DoublyLinkedList/CircularLinkedListADT/.vs/CircularLinkedListADT/v16/.suo
*.enc
Day4Circular&DoublyLinkedList/DoublyLinkedListADT/.vs/DoublyLinkedListADT/v16/.suo
Day5TreeBinary/BinaryTree/.vs/BinaryTree/v16/.suo
Day5BinaryTreeTry/StaticBinaryTree/.vs/StaticBinaryTree/v16/.suo
Day6BST&GraphDsf/BSTusingDLL/.vs/BSTusingDLL/v16/.suo
Day6BST&GraphDsf/GraphAdjecencyMatrix/.vs/GraphAdjecencyMatrix/v16/.suo
Tests/14Oct2020/Test01Q01/.vs/Test01Q01/v16/.suo
Tests/14Oct2020/Test01Q02/.vs/Test01Q02/v16/.suo
Tests/15Oct2020/03_binery2decimal_linkedList/.vs/03_binery2decimal_linkedList/v16/.suo
Tests/15Oct2020/02_Deque_2Queue1Array/.vs/02_Deque_2Queue1Array/v16/.suo
Tests/15Oct2020/01_2stacks1Array/.vs/01_2stacks1Array/v16/.suo
Tests/15Oct2020/04_cycling_nodes_CircularLL/.vs/04_cycling_nodes_CircularLL/v16/.suo
